extends ../../layout

block head
    style.
        .pre-title {
            text-indent: 0;
            margin: 0;
        }

block content
    template#imgSetTemplate
        div(class='container-fluid image-set mb-2')
            span(class='input-label')
            div(class='form-item mt-2')
                label(class='input-label') Caption:
                    p(class='small-text my-1') Optimal caption length is 185 characters (inlcuding spaces).
                div(class='richEdit' data-placeHolder="What's Happening here?")
                input(style='display: none;' type='text')
            div(class='text-end')
                
            div(class='form-item form-item-dark req mt-4')
                div(class='mt-2')
                label
                    div(class='btn btn-light') Add Image to set
                    input(class='d-none' type='file' onchange='addPhotosToUpdateForm(this)')
                div
                    a(class='btn btn-caution mt-2' onclick='removeImageSet(this.parentNode.parentNode.parentNode)') Remove Set
            hr
    template#imgTemplate
        div(class='container-fluid p-0 update-form-img')
            p(class='update-form-img-name')
            div(class='row w-100 mx-auto p-0')
                div(class='col-12 update-form-img-cont')
                    img
            div(class='text-end')
                button(class='btn btn-caution my-2' onclick='removeUpdateImage(this.parentNode.parentNode); return false;') Remove Image
            hr
    section(class='container')
        div#form-main(class='row main-row')
            div(class='col-12 col-lg-10 col-xl-8 mx-auto px-0 panel')
                form#update-form(name="updateForm" class='h-100 w-100' action='/admin/edit/update/' + update._id + '/y' method="POST" enctype="multipart/form-data" data-target='/admin/edit/update/' + update._id + '/n' data-goal='/admin/updates' onsubmit='submitForm(event, this)')
                    div(class='p-4')
                        header
                            p(class='input-label m-0') Title:
                            h2= update.title
                        div#form-message(class='form-message')
                        div(class='form-item req col-12 col-md-4 col-lg-3')
                            label(class='input-label' for='type') Update Type:
                            br
                            select#Type(class='input-sel' name='Type' tabindex='1')
                                if update['Type']
                                    if update['Type'] == 'Ministry'
                                        option(selected) Ministry
                                        option Family
                                    else 
                                        option Ministry
                                        option(selected) Family
                                else
                                    option(selected disabled value='none') --- Select Type ---
                                    option Ministry
                                    option Family 
                        div(class='form-item req col-6 col-md-4 col-lg-3')
                            label(class='input-label' for='Date') Date:
                            br
                            input#Date(class='input-field' type='Date' name='Date' placeholder='YYYY-MM-DD' tabindex='1' value=update['Date'])
                        div(class='form-item req mt-2')
                            label(class='input-label' for='Location') Location:
                            br
                            input#Location(class='input-field' type='text' name='Location' placeholder='i.e. Africa' tabindex='2' value=update['Location'])
                        div(class='form-item req mt-2')
                            label(class='input-label' for='introPara') Content:
                            div#editor-container(class='richEdit' data-name='Content' data-placeHolder='Tell me what you did.' data-tab='3' )
                            input#Content(style='display: none;' data-req='true' type='text' name='Content' value=update['Content'])
                        div(class='form-item req mt-2')
                            span(class='input-label') Images:
                            hr
                            div#image-sets(class='mt-2')
                                -let thisSet = 0
                                for set in update.sets
                                    div(class='container-fluid image-set mb-2' data-setnumber=thisSet)
                                        -thisSet++
                                        span(class='input-label') Set-
                                            = set.set
                                        div(class='form-item mt-2')
                                            label(class='input-label') Caption:
                                            p(class='small-text my-1') Optimal caption length is 185 characters (inlcuding spaces).
                                            div(class='richEdit' data-placeHolder="What's Happening here?" data-name='Set-' + set.set + 'Cap')
                                            input(id='Set-' + set.set + 'Cap' style='display: none;' type='text' name='Set-' + set.set + 'Cap' value=set.caption)
                                        div(class='text-end')
                                        div(class='form-item form-item-dark req mt-4')
                                            div(id='Set-' + set.set + 'Images' class='mt-2')
                                                for image in set.images 
                                                    div(id=image.name class='container-fluid p-0 update-form-img')
                                                        p(class='update-form-img-name')
                                                        div(class='row w-100 mx-auto p-0')
                                                            div(class='col-12 update-form-img-cont')
                                                                img(src=image.url)
                                                        div(class='text-end')
                                                            button(class='btn btn-caution my-2' onclick='removeUpdateImage(this.parentNode.parentNode); return false;') Remove Image
                                                        hr
                                                        input(class='d-none' type='file' value=null name=image.name)
                                                        input(class='d-none' type='text' value=image.dataName name=image.name + '_orig')
                                            label
                                                div(class='btn btn-light') Add Image to Set-
                                                    =set.set
                                                input(class='d-none' type='file' onchange='addPhotosToUpdateForm(this)')
                                            div
                                                a(class='btn btn-caution mt-2' onclick='removeImageSet(this.parentNode.parentNode.parentNode)') Remove Set-
                                                    =set.set
                                        hr
                                            
                            a#sets(class='btn' onclick='addImageSet()') Add Set
                            input(type='number' class='d-none' name='set-count' value=update.sets.length)
                            
                            div(class='form-item text-end mt-2')
                                label(class='input-label check-label') Publish: 
                                    input(name='Publish' type='checkbox' class='d-none check-box' checked=update['Publish'])
                                    div
                    
                    div(class='row justify-content-between mx-auto panel-end')
                        div(class='col-6 col-md-4 col-lg-3')
                            a#delete(class='btn btn-caution w-100' href='/admin/delete/update/' + update._id data-route='/admin/delete/update/' + update._id onclick='confirmDelete(event, this);') Delete Update
                        div(class='col-6 col-md-4 col-lg-3 text-end')
                            button#submit(class='btn btn-light loader w-100') Save
        script.
            function confirmDelete(event, button) {
                event.preventDefault()
                myPromt("Are you sure you want to delete this update? (This cannot be undone)", button.getAttribute('data-route'), 'POST', false)
            }
                    